<footer class="page-footer clustern-footer sticky">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text slanted bold">Information</h5>
        <p class="grey-text text-lighten-4">Clustern consists of a small team working hard to make sure that your projects stay online and stay speedy! We try our hardest to the concerns of your customers by being up front about how we run our business.</p>
      </div>
      <div class="col l3 s12"></div>
      <div class="credits col l3 s12">
        <h5 class="white-text slanted bold">Credits</h5>
        <ul>
          <li><a class="white-text" routerLink="/">-</a></li>
          <li><a class="white-text" routerLink="/">-</a></li>
          <li><a class="white-text" routerLink="/">-</a></li>
          <li><a class="white-text" href="https://nicksdesk.com">Nick's Desk</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center">
      <strong class="bold">Copyright &copy; </strong><span class="hoverable rounded"><a class="grey-text text-lighten-2" href="https://nicksdesk.com">Nick's Desk</a></span>
    </div>
  </div>
</footer>