.clustern-footer {
	background: #159957;
	background: -webkit-linear-gradient(to right, #155799, #159957);  
	background: linear-gradient(to right, #155799, #159957);
}

.sticky {
    bottom: 0;
    left: 0;
    width: 100%;
}

.copyright-link:hover {
    color: rgb(97, 76, 76);
}

@media only screen and (max-width: 600px) {
    .credits {
        text-align: center;
    }
}