nav .brand-logo {
	color: black;
}

nav ul a {
	color: #444444;
}

.mobile-nav-title {
	text-align: center;
	color: #000000;
}

.clustern-nav {
	background: #159957;
	background: -webkit-linear-gradient(to right, #155799, #159957);  
	background: linear-gradient(to right, #155799, #159957);
}

.sidenav-trigger {
	color: #000000;
}

#logo-container {
	font-size: 40px;
}
