<nav class="clustern-nav" [class.nav-extended]="router.url==='/dashboard'" role="navigation">
  <div class="nav-wrapper container">
      <a id="logo-container" routerLink="/" class="slanted brand-logo logo-sizer">Clustern</a>
      <ul class="right hide-on-med-and-down">
          <li class="waves-effect" [class.active]="router.url==='/'">
              <a routerLink="/">Home</a>
          </li>
          <li class="waves-effect" [class.active]="router.url==='/about'">
              <a routerLink="/about">About</a>
          </li>
          <li class="waves-effect" [class.active]="router.url==='/pricing'">
              <a routerLink="/pricing">Pricing</a>
          </li>
          <li class="waves-effect" *ngIf="!auth.isLoggedIn" [class.active]="router.url==='/my'">
              <a routerLink="/my" >Login</a>
          </li>
          <li class="waves-effect" *ngIf="auth.isLoggedIn" [class.active]="router.url==='/dashboard'">
              <a routerLink="/dashboard">Dashboard</a>
          </li>
          <li class="waves-effect" *ngIf="auth.isLoggedIn">
              <a (click)="logout();">Logout</a>
          </li>
      </ul>
      <ul id="nav-mobile" class="sidenav">
          <li>
             <h3 class="mobile-nav-title">{{ getMobileTitle() }}</h3> 
             <hr/>
          </li>
          <li [class.active]="router.url==='/'">
              <a routerLink="/">Home</a>
          </li>
          <li [class.active]="router.url==='/about'">
              <a routerLink="/about">About</a>
          </li>
          <li [class.active]="router.url==='/pricing'">
              <a routerLink="/pricing">Pricing</a>
          </li>
          <li [class.active]="router.url==='/my'">
              <a routerLink="/my" *ngIf="!auth.isLoggedIn">Login</a>
          </li>
          <li [class.active]="router.url==='/dashboard'" *ngIf="auth.isLoggedIn">
              <a routerLink="/dashboard">Dashboard</a>
          </li>
          <li *ngIf="auth.isLoggedIn">
              <a (click)="logout();">Logout</a>
          </li>
      </ul>
      <a class="right sidenav-trigger" data-target="nav-mobile">
          <svg class="mobile-nav-button ham hamRotate ham1" viewBox="0 0 100 100" width="80" onclick="this.classList.toggle('active')">
              <path class="line top" d="m 30,33 h 40 c 0,0 9.044436,-0.654587 9.044436,-8.508902 0,-7.854315 -8.024349,-11.958003 -14.89975,-10.85914 -6.875401,1.098863 -13.637059,4.171617 -13.637059,16.368042 v 40" />
              <path class="line middle" d="m 30,50 h 40" />
              <path class="line bottom" d="m 30,67 h 40 c 12.796276,0 15.357889,-11.717785 15.357889,-26.851538 0,-15.133752 -4.786586,-27.274118 -16.667516,-27.274118 -11.88093,0 -18.499247,6.994427 -18.435284,17.125656 l 0.252538,40" />
          </svg>
      </a>
  </div>
  <div class="nav-content" *ngIf="router.url==='/dashboard'">
    <ul class="tabs tabs-transparent tabs-fixed-width tabs-demo z-depth-0">
        <li class="tab">
            <a class="tab-link" id="dash_deploys" href="#dashdeploys">Deploys</a>
        </li>
        <li class="tab">
            <a class="tab-link" id="dash_servers" href="#dashservers">Servers</a>
        </li>
        <li class="tab">
            <a class="tab-link" id="dash_apps" href="#dashapps">Apps</a>
        </li>
        <li class="tab">
            <a class="tab-link" id="dash_services" href="#dashservices">Services</a>
        </li>
    </ul>
  </div>
</nav>