.centered {
    text-align: center;
}

.login-card {
    background-color: #417fb3;
}

.login-card-title {
    font-size: 35px;
}

.login-width {
    width: 100%;
    max-width: 185px;
}

.clustern-colors-reversed {
	background: #159957;
	background: -webkit-linear-gradient(to left, #155799, #159957);  
	background: linear-gradient(to left, #155799, #159957);
}


#dashdeploys {
    height: 100%;
    width: 100%;
}

#dashservers {
    height: 100%;
    width: 100%;
}

#dashapps {
    height: 100%;
    width: 100%;
}

#dashservices { 
    height: 100%;
    width: 100%;
}

.dash-pagin {
    width: 100%;
}

.hello-text {
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    .top-padded-mobile {
        padding-top: 20px;
    }
    .dash-pagin {
        display: none;
    }
    .respond-item {
        padding: 10px;
    }
}