<!--<div class="container" #container *ngIf="auth.isLoggedIn; else no_session">
  <div class="section">
    <div class="row">
      <span class="hello-text bold slanted">
        Hello, {{ username }} !
      </span>
    </div>
</div>!-->

<div class="tab-container container-fluid">
    <div id="dashdeploys" class="col s12">
      <div id="deploys-content" *ngIf="auth.isLoggedIn">
        
      </div>
    </div>
    <div id="dashservers" class="col s12">
      <div class="container" id="servers-content" *ngIf="auth.isLoggedIn">
        <div class="row">
          <div class="col s12 m6 l4">
            <ul class="collection with-header">
              <li class="collection-header"><h4>Digital Ocean</h4></li>
              <li class="collection-item">
                <div class="section">
                  Example Server #1
                  <a class="btn-floating btn-small waves-effect waves-light red secondary-content"><i class="material-icons">remove</i></a>
                  <a class="btn-floating btn-small waves-effect waves-light blue secondary-content"><i class="material-icons">edit</i></a>
                </div>
              </li>
              <li class="collection-item">
                <div class="section">
                  Example Server #1
                  <a class="btn-floating btn-small waves-effect waves-light red secondary-content"><i class="material-icons">remove</i></a>
                  <a class="btn-floating btn-small waves-effect waves-light blue secondary-content"><i class="material-icons">edit</i></a>
                </div>
              </li>
            </ul>
          </div>
          <div class="col s12 m6 l4">
            <ul class="collection with-header">
              <li class="collection-header"><h4>Vultr</h4></li>
              <li class="collection-item">
                <div class="section respond-item">
                  Example Server #1
                  <a class="btn-floating btn-small waves-effect waves-light red secondary-content"><i class="material-icons">remove</i></a>
                  <a class="btn-floating btn-small waves-effect waves-light blue secondary-content"><i class="material-icons">edit</i></a>
                </div>
              </li>
              <li class="collection-item">
                <div class="section respond-item">
                  Example Server #1
                  <a class="btn-floating btn-small waves-effect waves-light red secondary-content"><i class="material-icons">remove</i></a>
                  <a class="btn-floating btn-small waves-effect waves-light blue secondary-content"><i class="material-icons">edit</i></a>
                </div>
              </li>
            </ul>
          </div>
          <div class="col s12 m6 l4">
            <ul class="collection with-header">
              <li class="collection-header"><h4>Soon...</h4></li>
              <li class="collection-item"><div>More providers coming soon...<a href="#!" class="secondary-content"></a></div></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="dashapps" class="col s12">
      <div id="apps-content" *ngIf="auth.isLoggedIn">
        
      </div>
    </div>
    <div id="dashservices" class="col s12">
      <div id="services-content" *ngIf="auth.isLoggedIn">
        
      </div>
    </div>
</div>

<ng-template #no_session>
  <div class="container">
        <div class="section">
          <div class="row">
            <div class="col s12">
              <div class="card clustern-colors-reversed center hoverable">
                <div class="card-content white-text">
                  <span class="login-card-title bold white-text">Error!</span>
                  <p class="bold">
                    You must login to view the Clustern dashboard!
                  </p>
                </div>
                <div class="card-action">
                    <div class="row">
                      <div class="col s12">
                        <a class="waves-effect waves-light btn red login-width" (click)="login();"><i class="material-icons left">backspace</i>Go Back</a>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
  </div>
</ng-template>
