body {
	-webkit-font-smoothing: antialiased;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

nav .brand-logo {
	color: black;
}

nav ul a {
	color: #444444;
}

p {
	line-height: 2rem;
}

.more-size {
	font-size: 25px;
}

.index-title-color {
	color: #000000;
}

.index-subheading-color {
	color: #ffffff;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.slanted {
	font-style: italic;
}

.sidenav-trigger {
	color: #000000;
}

.bold {
	font-weight: bold;
}

#logo-container {
	font-size: 40px;
}

.index-card-image {
	animation: bounce-in 2s;
}

.clustern-nav {
	background: #159957;
	background: -webkit-linear-gradient(to right, #155799, #159957);  
	background: linear-gradient(to right, #155799, #159957);
}

.clustern-custom-1 {
	color: #159957;
}

.clustern-custom-2 {
	color: #15717f;
}

.clustern-custom-3 {
	color: #155799;
}

.parallax-container {
	min-height: 380px;
	line-height: 0;
	height: auto;
	color: rgba(255, 255, 255, 0.9);
}

.parallax-container .section {
	width: 100%;
}

@media only screen and (max-width: 992px) {
	.parallax-container .section {
		position: absolute;
		top: 40%;
	}

	#index-banner .section {
		top: 10%;
	}
}

@media only screen and (max-width: 600px) {
	#index-banner .section {
		top: 0;
	}
}

.icon-block {
	padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

footer .page-footer {
	margin: 0;
}

.mobile-nav-title {
	text-align: center;
	color: #000000;
}

.ham {
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	transition: transform 400ms;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.hamRotate.active {
	transform: rotate(45deg);
}

.hamRotate180.active {
	transform: rotate(180deg);
}

.line {
	fill: none;
	transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
	stroke:#000;
	stroke-width:3.0;
	stroke-linecap:round;
}

.ham1 .top {
	stroke-dasharray: 40 139;
}

.ham1 .bottom {
	stroke-dasharray: 40 180;
}

.ham1.active .top {
	stroke-dashoffset: -98px;
}

.ham1.active .bottom {
	stroke-dashoffset: -138px;
}

@keyframes bounce-in {
	0%   { 
		transform: scale(1,1) translateY(0); 
	}
	10%  { 
		transform: scale(1.1,.9) translateY(0); 
	}
	30%  { 
		transform: scale(.9,1.1) translateY(-100px); 
	}
	50%  { 
		transform: scale(1,1) translateY(0); 
	}
	100% { 
		transform: scale(1,1) translateY(0); 
	}
}
