<!--

  There's a weird bug with the header image where half of it disappears for no reason until you click it 
                -_- wtf

-->

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
      <div class="container">
          <h1 class="header center index-title-color bold slanted text-darken-3">Clustern</h1>
          <div class="row center">
              <h5 class="header col s12 bold slanted index-subheading-color">A powerful, multi-platform software deployment tool!</h5>
          </div>
          <div class="row center">

          </div>
      </div>
  </div>
  <div class="parallax">
      <img src="assets/images/clustern-bg.png" alt="clustern background">
  </div>
</div>
<div class="container">
  <div class="section">
      <div class="row">
          <div class="col s12 m4">
              <div class="card card-sizer hoverable">
                  <div class="card-image">
                      <img class="index-card-image" src="assets/images/fast.png" alt="quick">
                      <a class="btn-floating activator halfway-fab waves-effect waves-light green"><i class="material-icons right">more_vert</i></a>
                  </div>
                  <div class="card-content">
                      <div class="icon-block">
                          <h2 class="center clustern-custom-1"><i class="material-icons">flash_on</i></h2>
                          <div class="container center">
                            <h5 class="center">Amazing Speed</h5>
                            <div class="padded"></div>
                            <a routerLink="/about" class="center clustern-custom-button-1 waves-effect waves-light btn">Learn More</a>
                          </div> 
                      </div>
                  </div>
                  <div data-simplebar class="card-reveal">
                      <span class="card-title grey-text text-darken-4">Info<i class="material-icons right">close</i></span>
                      <p class="center light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
                  </div>
              </div>
          </div>
          <div class="col s12 m4">
              <div class="card card-sizer hoverable">
                  <div class="card-image">
                      <img class="index-card-image" src="assets/images/dashboard.png" alt="dash">
                      <a class="btn-floating activator halfway-fab waves-effect waves-light navy"><i class="material-icons right">more_vert</i></a>
                  </div>
                  <div class="card-content">
                      <div class="icon-block">
                          <h2 class="center clustern-custom-2"><i class="material-icons">dashboard</i></h2>
                          <div class="container center">
                            <h5 class="center">Modern Dashboard</h5>
                            <div class="padded"></div>
                            <a routerLink="/about" class="center clustern-custom-button-2 waves-effect waves-light btn">Learn More</a>
                          </div> 
                      </div>
                  </div>
                  <div data-simplebar class="card-reveal">
                      <span class="card-title grey-text text-darken-4">Info<i class="material-icons right">close</i></span>
                      <p class="center light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
                  </div>
              </div>
          </div>
          <div class="col s12 m4">
              <div class="card card-sizer hoverable">
                  <div class="card-image">
                      <img class="index-card-image" src="assets/images/api.png" alt="api">
                      <a class="btn-floating activator halfway-fab waves-effect waves-light blue"><i class="material-icons right">more_vert</i></a>
                  </div>
                  <div class="card-content">
                      <div class="icon-block">
                          <h2 class="center clustern-custom-3"><i class="material-icons">extension</i></h2>
                          <div class="container center">
                            <h5 class="center">Enterprise API</h5>
                            <div class="padded"></div>
                            <a routerLink="/about" class="center clustern-custom-button-3 waves-effect waves-light btn">Learn More</a>
                          </div> 
                      </div>
                  </div>
                  <div data-simplebar class="card-reveal">
                      <span class="card-title grey-text text-darken-4">Info<i class="material-icons right">close</i></span>
                      <p class="center light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
      <div class="container">
          <div class="row center">
              <h5 class="index-subheading-color header col s12 bold slanted">We make it easy to take your code to the next level!</h5>
          </div>
      </div>
  </div>
  <div class="parallax">
      <img src="assets/images/levelup.png" alt="level up your business">
  </div>
</div>
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send black-text"></i></h3>
        <h2>Contact Us</h2>
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="input-field col s6">
                <input id="firstname" type="text" class="validate">
                <label for="firstname">First Name</label>
              </div>
              <div class="input-field col s6">
                <input id="lastname" type="text" class="validate">
                <label for="lastname">Last Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <textarea id="message" type="text" class="materialize-textarea"></textarea>
                <label for="message">Message</label>
              </div>
            </div>
            <div class="row">
              <div class="col s12">
                <button type="button" class="clustern-custom-btn-1 btn btn-lg waves-effect waves-light">Contact Us <i class="material-icons right">send</i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="index-subheading-color header col s12 bold slanted">We are a team of dedicated individuals who strive to keep your code online!</h5>
      </div>
    </div>
  </div>
  <div class="parallax">
    <img src="assets/images/team.png" alt="team">
  </div>
</div>