.index-card-image {
	animation: bounce-in 2s;
}

.index-title-color {
	color: #000000;
}

.index-subheading-color {
	color: #ffffff;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.clustern-custom-btn-1 {
    background-color: #159957;
}

.more-size {
	font-size: 25px;
}

.padded {
	padding-top: 15px;
}

.clustern-custom-button-1 {
	background-color: #159957;
}

.clustern-custom-button-2 {
	background-color: #15717f;
}

.clustern-custom-button-3 {
	background-color: #155799;
}