$pricing-color: #7394f0;

@mixin card-border($solidity) {
    border-style: solid;
    border-radius: $solidity;
}

.pricing-title-color {
	color: #000000;
}

.pricing-subheading-color {
    font-size: 22px;
    color: #746363;
}

.padder {
    padding-bottom: 55px;
}

.pricing-grad {
	background: #159957;
	background: -webkit-linear-gradient(to left, #155799, #159957);  
    background: linear-gradient(to left, #155799, #159957);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pricing-tag-line {
    font-weight: bold;
    color: white;
}

.free-plan {
    @include card-border(15px);
    background-color: $pricing-color;
}

.common-plan {
    @include card-border(15px);
    background-color: $pricing-color;
}

.advanced-plan {
    @include card-border(15px);
    background-color: $pricing-color;
}

.feature > i {
    vertical-align: middle !important;
}

.pplans-sub {
    padding-bottom: 35px;
}

.container > .pfeatures  {
    padding-top: 40px;
    padding-bottom: 45px;
}

.pricing-table-heading {
    font-size: 20px;
}

.pricing-button {
    width: 150px;
    transition: width 1.2s;
    -webkit-transition: width 1.2s;
    background-color: #5053e6;
}

.pricing-button:hover {
    width: 200px;
}

.pricing-plan-sizer {
    padding-top: 30px;
    font-weight: bold;
    font-size: 95px;
}

.dollar {
    font-size: 30px;
}

//possibly change - just a fix for now
@media only screen and (max-width: 1461px) {
    .card {
        max-height: 100%;
        position: relative;
    }
}