<div class="index-banner">
  <div class="section no-pad-bot">
    <div class="container">
      <h1 class="header center pricing-title-color bold slanted text-darken-3">Pricing Plans</h1>
      <div class="row center">
        <h5 class="pplans-sub header col s12 bold slanted pricing-subheading-color">Choose a plan that fits your needs</h5>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m4">
        <div class="card card-sizer free-plan hoverable">
          <div class="card-header">
            <div class="container center">
                <i class="material-icons pricing-plan-sizer pricing-grad">perm_identity</i>
                <h4 class="pricing-tag-line center slanted">Free Plan</h4>
            </div>
          </div>
          <div class="card-content">
            <div class="container center">
                <h2 class="center"><sup class="dollar">$</sup><strong>0</strong><sub class="dollar">/mon</sub></h2>
                <div class="padder"></div>
                <a routerLink="/dashboard" class="center pricing-button waves-effect waves-light btn">Get Started</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card card-sizer common-plan hoverable">
          <div class="card-image">
              <div class="container center">
                  <i class="material-icons pricing-plan-sizer pricing-grad">work_outline</i>
                  <h4 class="pricing-tag-line center slanted">Common Plan</h4>
              </div>
          </div>
          <div class="card-content">
             <div class="container center">
                <h2 class="center"><sup class="dollar">$</sup><strong>15</strong><sub class="dollar">/mon</sub></h2>
                <div class="padder"></div>
                <a routerLink="/dashboard" class="center pricing-button waves-effect waves-light btn">Get Started</a>
             </div>
          </div>
      </div>
      </div>
      <div class="col s12 m4">
        <div class="card card-sizer advanced-plan hoverable">
            <div class="card-image">
                <div class="container center">
                    <i class="material-icons pricing-plan-sizer pricing-grad">work</i>
                    <h4 class="pricing-tag-line center slanted">Advanced Plan</h4>
                </div>
            </div>
            <div class="card-content">
                <div class="container center">
                  <h2 class="center"><sup class="dollar">$</sup><strong>35</strong><sub class="dollar">/mon</sub></h2>
                  <div class="padder"></div>
                  <a routerLink="/dashboard" class="center pricing-button waves-effect waves-light btn">Get Started</a>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="section">
    <div class="row">
      <div class="container center">
          <h3 class="pfeatures header center pricing-title-color slanted text-darken-3">Plan Features</h3>
      </div>
      <table class="highlight centered">
        <thead>
          <tr>
            <th class="pricing-table-heading">Free</th>
            <th class="pricing-table-heading">Common</th>
            <th class="pricing-table-heading">Advanced</th>
          </tr>
        </thead>
        <tbody>
          <tr class="free">
            <td><span class="feature">some feature <i class="material-icons">check</i></span></td>
            <td><span class="feature">some feature <i class="material-icons">check</i></span></td>
            <td><span class="feature">some feature <i class="material-icons">check</i></span></td>
          </tr>
          <tr class="common">
            <td><span class="feature">some feature <i class="material-icons">close</i></span></td>
            <td><span class="feature">some feature <i class="material-icons">check</i></span></td>
            <td><span class="feature">some feature <i class="material-icons">check</i></span></td>
          </tr>
          <tr class="advanced">
            <td><span class="feature">some feature <i class="material-icons">close</i></span></td>
            <td><span class="feature">some feature <i class="material-icons">close</i></span></td>
            <td><span class="feature">some feature <i class="material-icons">check</i></span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>