<div class="container center login-card-full">
  <div class="section">
    <div class="row">
      <div class="col s12">
        <div class="card clustern-colors-reversed center hoverable">
          <div class="card-content white-text">
            <span class="login-card-title bold">Login</span>
            <p class="bold">
              Please select a sign in method below to continue!
            </p>
          </div>
          <div class="card-action">
            <div class="row">
              <div class="col s12 m4">
                <a class="waves-effect waves-light btn red login-width" (click)="login('google')"><i class="fa fa-google left"></i>Google</a>
              </div>
              <div class="col s12 m4">
                <div class="top-padded-mobile"></div>
                <a class="waves-effect waves-light btn blue login-width" (click)="login('twitter')"><i class="fa fa-twitter left"></i>Twitter</a>
              </div>
              <div class="col s12 m4">
                  <div class="top-padded-mobile"></div>
                  <a class="waves-effect waves-light btn black login-width" (click)="login('github')"><i class="fa fa-github left"></i>Github</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>