.login-card {
    background-color: #417fb3;
}

.login-card-title {
    font-size: 35px;
}

.login-card-full {
    width: 100%;
    height: 100%;
}

.login-width {
    width: 100%;
    max-width: 200px;
}

.clustern-colors-reversed {
	background: #159957;
	background: -webkit-linear-gradient(to left, #155799, #159957);  
	background: linear-gradient(to left, #155799, #159957);
}

@media only screen and (max-width: 600px) {
    .top-padded-mobile {
        padding-top: 20px;
    }
}